.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 20px;
  }
}

.skillList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;

  span {
    width: 100%;
  }
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (min-width: 768px) {
  .skillList {
    max-width: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;

    p {
      font-size: 20px;
    }

    span {
      width: fit-content;
    }
  }
  hr {
    width: 300px;
  }
}
