@tailwind base;
@tailwind components;
@tailwind utilities;

.container1{
  background-image: url("../public/background1.jpg");
  background-size: cover;
}
.hero1{
  background-image: url("../public/background2.jpg");
  background-size: cover;
}
.hero2{
  background-image: url("../public/background3.jpg");
  background-size: cover;
}